<div> <!-- Sign up stuff in general. Modal style? -->
  <p class="text">So you haven't signed up yet? Well that's unacceptable! Fill this out and you can get started.</p>
  <div class="formbox"> <!-- Signup form. -->
    <p class="formtext">Username</p>
    <input type="text" class="forminput" placeholder="Username"/>
    <p class="formtext">Email</p>
    <input type="text" class="forminput" placeholder="Email"/>
    <p class="formtext">Password</p>
    <input type="text" class="forminput" placeholder="Password"/>
  </div>
</div>
